[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu118/"
verify_ssl = false
name = "pytorch"

#[[source]]
#url = "https://data.pyg.org/whl/torch-2.0.0%2bcu118/"
#verify_ssl = false
#name = "torch-cluster"

[dev-packages]

[packages]
ase = "*"
async_generator = "*"
automat = "*"
black = "*"
blis = "*"
boto3 = "*"
bottleneck = "*"
brotli = "*"
brotlipy = "*"
bs4 = "*"
captum = "*"
catalogue = "*"
chardet = "*"
colorcet = "*"
configparser = "*"
constantly = "*"
cryptography = "*"
cssselect = "*"
cymem = "*"
cytoolz = "*"
dask = "*"
dataclasses = "*"
datasets = "*"
datashader = "*"
datashape = "*"
docker-pycreds = "*"
docopt = "*"
docutils = "*"
et-xmlfile = "*"
faiss-gpu = "*"
fastobo = "*"
flax = "*"
future = "*"
gensim = "*"
goatools = "*"
google-auth-oauthlib = "*"
googledrivedownloader = "*"
grpcio = "*"
h5py = "*"
heapdict = "*"
holoviews = "*"
huggingface_hub = "*"
huggingface-hub = "*"
hyperlink = "*"
icu = "*"
igraph = "*"
imageio = "*"
imbalanced-learn = "*"
incremental = "*"
iniconfig = "*"
intel-openmp = "*"
isodate = "*"
itemadapter = "*"
itemloaders = "*"
jsonlines = "*"
jsonnet = "*"
jupyter-bokeh = "*"
jupyter-resource-usage = "*"
jupyter-server = "*"
jupyter-server-proxy = "*"
jupyter-server-terminals = "*"
jupyterlab = "*"
jupyterlab-git = "*"
jupyterlab-lsp = "*"
jupyterlab-widgets = "*"
kafka-python = "*"
kaleido = "*"
libsodium = "*"
littleutils = "*"
lmdb = "*"
markdown = "*"
matplotlib = "*"
mkl = "*"
more-itertools = "*"
msgpack-python = "*"
multipledispatch = "*"
multiprocess = "*"
munkres = "*"
murmurhash = "*"
nbdime = "*"
nbgitpuller = "*"
ninja = "*"
nltk = "*"
node2vec = "*"
numexpr = "*"
numpy = "*"
obonet = "*"
ogb = "*"
olefile = "*"
openpyxl = "*"
outdated = "*"
overrides = "*"
pandas = "*"
pandoc = "*"
panel = "*"
param = "*"
parsel = "*"
pathlib = "*"
pathtools = "*"
pathy = "*"
patsy = "*"
pickle5 = "*"
plotly = "*"
poppler-utils = "*"
preshed = "*"
progress = "*"
protobuf = "*"
pyct = "*"
pydantic = "*"
pydeprecate = "*"
pydispatcher = "*"
pydot = "*"
pyhamcrest = "*"
pyjwt = "*"
pykeen = "*"
pynndescent = "*"
pyopenssl = "*"
pyPheWAS = "*"
pysocks = "*"
PyTDC = "*"
pytest = "*"
python-igraph = "*"
python-louvain = "*"
pytorch-lightning = "*"
pytorch-metric-learning = "*"
pyviz_comms = "*"
pywavelets = "*"
queuelib = "*"
rdflib = "*"
readline = "*"
regex = "*"
requests-file = "*"
sacremoses = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
scrapy = "*"
sentencepiece = "*"
service_identity = "*"
service-identity = "*"
setproctitle = "*"
shap = "*"
shortuuid = "*"
sip = "*"
smart-open = "*"
snap-stanford = "*"
spacy = "*"
spacy-legacy = "*"
srsly = "*"
statistics = "*"
statsmodels = "*"
subprocess32 = "*"
tabula-py = "*"
tbb = "*"
tensorboard = "*"
tensorboard-plugin-wit = "*"
tensorboardx = "*"
testpath = "*"
texttable = "*"
thinc = "*"
tifffile = "*"
tldextract = "*"
tokenizers = "*"
torch = {version="*", index="pytorch"}
torch-cluster = {file = "https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_cluster-1.6.1%2Bpt20cu118-cp39-cp39-linux_x86_64.whl"}
torch-geometric = "*"
torch-scatter = {file = "https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_scatter-2.1.1%2Bpt20cu118-cp39-cp39-linux_x86_64.whl"}
torch-sparse = {file = "https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_sparse-0.6.17%2Bpt20cu118-cp39-cp39-linux_x86_64.whl"}
torch-spline-conv = {file = "https://data.pyg.org/whl/torch-2.0.0%2Bcu118/torch_spline_conv-1.2.2%2Bpt20cu118-cp39-cp39-linux_x86_64.whl"}
torchmetrics = "*"
torchviz = "*"
tqdm = "*"
transformers = "*"
twisted = "*"
#TxGNN = "*"
umap-learn = "*"
w3lib = "*"
wandb = "*"
wasabi = "*"
werkzeug = "*"
wheel = "*"
xarray = "*"
xlrd = "*"
xlsxwriter = "*"
xxhash = "*"
zope = "*"

[requires]
python_version = "3.9"
